
/*general page reset and background */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;

}
/*header styling */
.main-header {
  background-color: #000000;
  padding-bottom: 5px;
  font-size: 10px;
}
/*title styling */
.title {
  text-align: center;
  font-family: "Poetsen One", "Verdana", sans-serif;
  font-size: 8em;
  margin-bottom: -5px;
  font-weight: bold;
  color: #ffffff;
  text-shadow:
          0 0 5px #ff69b4,
          0 0 10px #ff69b4,
          0 0 20px #ff1493,
          0 0 40px #ff1493;
}

/*card-container styling */
#card-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  gap:40px;
  margin-top:-60px;
  padding: 100px 5px;
  scroll-behavior: smooth;
  min-height: 500px;
  min-width: 200px;
  overflow-y: hidden;
  align-items: flex-start;
  margin-left: 40px;
}
/*hide horizontal scrollbar in browsers*/
#card-container::-webkit-scrollbar {
  display: none;
}
/* individual card style */
.card {
  width: 350px;
  border: 5px solid #86003C;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color: #EEEEEE;
  transition: transform 0.3s ease, box-shadow 0.3s;
  flex:0 0 auto;
  overflow: hidden;
}
/* card hover effect */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* content inside each card */
.card-content {
  padding: 20px;
  font-family: "Verdana", sans-serif;
  color: #FF8BA0;
}

/* title inside card */
.card-content h2 {
  margin-top: 0;
  font-size: 22px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  max-height: 60px;
  white-space: normal;
}

/* genre/episodes/rating */
.card-content p {
  margin: 2px 0;
  font-size: 18px;
  color: #393131;
  white-space: normal;
}
/* anime image */
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  padding-bottom: 10px;
}
/* image wrapper to center and size the image */
.img-wrapper {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* fade effect on non-hovered cards */
#card-container:hover .card {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}
/* restore opacity for hovered card */
#card-container:hover .card:hover {
  opacity: 1;
}

/* hide anime details by default */
.card .genre,
.card .episodes,
.card .rating{
  display: none;
}
/* show anime details only when hovering on a card */
.card:hover .genre,
.card:hover .episodes,
.card:hover .rating{
  display: block;
}

/* container for genre filter buttons */
.filter-buttons{
  text-align: left;
  margin-top: 50px;
  margin-left: 30px;
  width: 100%;
  margin-bottom: 2px;
}
/* individual genre button styles */
.genre-btn{
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
}
/* highlight selected genre button */
.genre-btn.selected {
  background-color: #86003C;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px #86003C;
}
/* hover effect for genre buttons */
.genre-btn:hover{
  background-color: #86003C;
  color: white;
  cursor: pointer;
}
/* container for sorting dropdown */
.sort-bar{
  text-align: right;
  margin-top: -38px;
  margin-right: 80px;
  border-radius: 5px;
  cursor: pointer;
}
/* styling the rating dropdown */
#sort-rating{
  cursor: pointer;
  padding: 4px 5px;
  margin-top: 1px;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Verdana", sans-serif;
  background-color: #fff;
  color: #393131;

}
/* footer style */
.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #000;
}
/* random Anime Button */
#random-btn {
  background-color: #FF8BA0;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 10px;
  border: none;
  border-radius: 10px;
  font-family: "Verdana", sans-serif;
  transition: 0.3s ease;
  margin-top: -55px;
}
/* hover effect for the random button */
#random-btn:hover {
  background-color: #ffd633;
  box-shadow: 0 0 10px #ffcc00;
  cursor: pointer;
}
